spring:
  profile: dev

blindata:
  url: http://localhost:3000
  user: "owner@default.blindata.io"
  password: ""
  tenantUUID: ""
  roleUuid: ""
  validator:
    active: true
    policyEngine:
      name: blindata_observer_validator
    policy:
      name: blindata_observer_validator_policy
      blocking: true
  eventHandlers:
    #    - eventType: DATA_PRODUCT_CREATED
    #      filter: ""
    #      activeUseCases:
    #        - DATA_PRODUCT_UPLOAD
    - eventType: DATA_PRODUCT_VERSION_CREATED
      filter: ""
      activeUseCases:
        - DATA_PRODUCT_UPLOAD
        - DATA_PRODUCT_VERSION_UPLOAD
        - QUALITY_UPLOAD
        - STAGES_UPLOAD
        - POLICIES_UPLOAD
    - eventType: POLICY_CREATED
      filter: ""
      activeUseCases:
        - POLICIES_ALIGN
    - eventType: POLICY_UPDATED
      filter: ""
      activeUseCases:
        - POLICIES_ALIGN
    - eventType: POLICY_DELETED
      filter: ""
      activeUseCases:
        - POLICIES_ALIGN
    - eventType: DATA_PRODUCT_ACTIVITY_COMPLETED
      filter: "#root['afterState']['activity']['stage'] == 'dev'"
      activeUseCases:
        - STAGES_UPLOAD
        - POLICIES_UPLOAD
    - eventType: DATA_PRODUCT_ACTIVITY_COMPLETED
      filter: "#root['afterState']['activity']['stage'] == 'prod'"
      activeUseCases:
        - DATA_PRODUCT_UPLOAD
        - DATA_PRODUCT_VERSION_UPLOAD
        - STAGES_UPLOAD
        - POLICIES_UPLOAD
    - eventType: DATA_PRODUCT_DELETED
      filter: ""
      activeUseCases:
        - DATA_PRODUCT_REMOVAL
    - eventType: MARKETPLACE_EXECUTOR_RESULT_RECEIVED
      filter: ""
      activeUseCases:
        - MARKETPLACE_ACCESS_REQUEST_PORTS_UPDATE
    # V2-only event types
    # - eventType: DATA_PRODUCT_INITIALIZED
    #   filter: ""
    #   activeUseCases:
    #     - DATA_PRODUCT_UPLOAD
    # - eventType: DATA_PRODUCT_VERSION_PUBLISHED
    #   filter: ""
    #   activeUseCases:
    #     - DATA_PRODUCT_VERSION_UPLOAD

#############################
# ODM projects configurations
#############################
odm:
  productPlane:
    registryService:
      active: true
      address: http://localhost:8081
      apiVersion: v1
    policyService:
      active: true
      address: http://localhost:8005
    notificationService:
      active: true
      address: http://localhost:8006
      subscribeWithName: BLINDATA
      apiVersion: v1